.title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  text-align: center;
  background-color: aqua;
  font-size: 40px;
}

.prompt_user_to_choose {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 10vh;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.Bobs_choice {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  text-align: center;
  font-size: 25px;
}
.results {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  text-align: center;
  font-size: 25px;
}

/* circle button */
.btn-circle.btn-xl {
  margin: 0 auto;
  display: block;
  width: 90px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(252, 255, 98);
}
/* .container makes sure R,P,S is in same column in middle */
.container {
  display: flex;
  /* items are centered along the line */
  justify-content: center;
  /* center: items are centered in the cross-axis */
  align-items: center;
}

.Rock {
  width: 90px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 60, 60);
}

.Paper {
  width: 90px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(105, 255, 105);
}

.Scissors {
  width: 90px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(36, 186, 255);
}

/* color: aqua;
  background-color: chartreuse;
} */
